* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Radio Canada", sans-serif;
    background-image: url("../images/heroImage.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.booking-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.booking-item {
    cursor: pointer;
    padding: 15px 25px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.booking-item:last-child {
    margin-bottom: 0;
}

.booking-item:hover {
    background-color: #e0e0e0;
}

.booking-details {
    display: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.active {
    display: block;
}

.booking-details h2 {
    margin-top: 0;
}

.close-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.close-btn:hover {
    background-color: #0056b3;
}