* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Radio Canada", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/backgroundImage.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #636363;
}


.container {
    width: 80vw;
    margin: 15vh auto 5vh;
}
.booked-house-card {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
    margin-bottom: 3vh;
    overflow: hidden;
    position: relative;
    padding: 5vh 2vw 5vh 2vw;
}
.house-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 5px;
}
.house-details {
    padding: 2vh;
}
.house-title {
    font-size: 5vh;
    font-weight: bold;
    margin: 0;
}
.booking-info {
    font-size: 2.5vh;
    margin-bottom: 1vh;
}
.extend-booking-button {
    position: absolute;
    bottom: 6vh;
    right: 6vh;
    background-color: #c99780;
    color: #fff;
    padding: 2vh 3vh;
    font-size: 3vh;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.extend-booking-button:hover {
    background-color: #b5836c;
}
