* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Radio Canada", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/backgroundImage.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #636363;
}

.container {
    height: calc(100vh - 5em);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .booking-form {
    border-radius: 5px;
    padding: 5vh 2vw 5vh 2vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 35em;
  }
  
  label {
    display: block;
  }
  
  input[type="date"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
  }
  
  /* Opmaak voor het label van de lengte van het verblijf */
  .stay-length {
    background-color: #c99780;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 250px;
    border-radius: 3px;
    padding: 8px;
  }
  
  .stay-length label {
    margin-right: 10px;
  }

  .total-price {
    background-color: #c99780;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 250px;
    border-radius: 3px;
    padding: 8px;
  }
  
  .total-price label {
    margin-right: 10px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #c99780;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #b5836c;
  }