* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Radio Canada", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/backgroundImage.jpg");
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #636363;
}


.loginFormContainer {
    height: calc(100vh - 5em);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loginFormContainer>form {
    border-radius: 5px;
    padding: 5vh 2vw 5vh 2vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25em;
}


form>h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

input:not([type="submit"]) {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    margin-bottom: 20px;
    background-color: #c99780;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #b5836c;
}

form>p {
    text-align: center;
}