* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.navigationBar {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 7.5vh;
    color: gray;
    background-color: white;
}

.heroImage {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/heroImage.jpg");
    background-size: cover;
}

.heroImageContent {
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 30vh;
    width: 35vw;
    height: 40vh;
    background-color: red;
}