* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.navigationBar {
    position: fixed;
    display: flex;
}

.heroImage>img {
    width: 100%;
    height: 100vh;
}