<!DOCTYPE html>
<html>
    {% include "global/navigation.html" %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="static/stylesheets/pages/style.css">
        <title>Bungalowpark zee en duin</title>
    </head>

    <body>
        <div class="heroImage">
            <div class="heroImageContent">
                <h1>Bungalowpark zee en duin</h1>
                <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
                <button id="bookingButton">
                    <a href="boeken">
                        Bungalow boeken
                    </a>
                </button>
            </div>
        </div>
    </body>
</html>