<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="static/stylesheets/aangemeld.css">
        <title>Bungalowpark Zee en Duin|Inloggen</title>
    </head>
    
    <body>
        {% include 'navigation.html' %}
        
        <div class="loginFormContainer">
            <form>
                <h2>Gefeliciteerd!</h2>
                <a href="">
                    <p>Uw account is succesvol aangemaakt! U kunt deze pagina verlaten.</p>
                </a>
                <input type="submit" value="Sluiten">
            </form>
        </div>
    </body>
</html>