<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/stylesheets/boekscherm.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.0/main.min.css" rel="stylesheet">
    <title>Bungalowpark Zee en Duin|Mijn boekingen</title>
</head>

<body>

{% include 'navigation.html' %}
<div class="container">
  <div class="booking-form">
    <h1>Reservering</h1>
    <label for="arrival-date">Aankomstdatum:</label>
    <input type="date" id="arrival-date" required>
    
    <label for="departure-date">Vertrekdatum:</label>
    <input type="date" id="departure-date" required>
    
    <!-- Label voor de lengte van het verblijf -->
    <div class="stay-length">
      <label>Lengte van het verblijf:</label>
      <span id="stay-length">-</span>
    </div>
    
    <!-- Opmerkingen -->
    <label for="comments">Opmerkingen:</label>
    <textarea id="comments" rows="4" cols="50"></textarea>
    
    <div id="error-message" style="color: red;"></div>
    
    <button type="submit" id="submit-button">Reserveren</button>
  </div>
</div>

<script src="static/scripts/calender.js">
</script>
</body>
</html>