<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/stylesheets/boeken.css">
    <title>Bungalowpark Zee en Duin|Mijn boekingen</title>
</head>
<body>
    <div class="container">
        <div class="booked-house-card">
            <img class="house-image" src="house1.jpg" alt="Geboekt huisje 1">
            <div class="house-details">
                <h2 class="house-title">Geboekt huisje 1</h2>
                <p class="booking-info">Aankomstdatum: 25-03-2024</p>
                <p class="booking-info">Vertrekdatum: 01-04-2024</p>
                <button class="extend-booking-button">Verleng verblijf</button>
            </div>
        </div>
        <div class="booked-house-card">
            <img class="house-image" src="house2.jpg" alt="Geboekt huisje 2">
            <div class="house-details">
                <h2 class="house-title">Geboekt huisje 2</h2>
                <p class="booking-info">Aankomstdatum: 30-03-2024</p>
                <p class="booking-info">Vertrekdatum: 06-04-2024</p>
                <button class="extend-booking-button">Verleng verblijf</button>
            </div>
        </div>
        <!-- Voeg hier meer geboekte huisjes toe indien nodig -->
    </div>
</body>
</html>