<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/stylesheets/boeken.css">
    <title>Bungalowpark Zee en Duin|Mijn boekingen</title>
</head>
<body>
    {% set renderRight = not(loggedIn) %}
    {% block navigation %}
        {% include 'navigation.html' %}
    {% endblock %}
    <div class="container">
        {% if reservations | length == 0 %}
            <h1>Geen reserveringen</h1>
        {% else %}
            {% for reservation in reservations %}
                <div class="booked-house-card">
                    <img class="house-image" src="../static/images/house1.jpg" alt="Geboekt huisje 1">
                    <div class="house-details">
                    <h2 class="house-title">Geboekt huisje 1</h2>
                    <p class="booking-info">Aankomstdatum: 25-03-2024</p>
                    <p class="booking-info">Vertrekdatum: 01-04-2024</p>

                    <form action="/cancel" method="POST">
                        <input class="buttons" type="submit" value="Annuleer boeking">
                    </form>
                    
                    <form action="/boeken" method="POST">
                        <input class="buttons" type="submit" value="Verleng verblijf">
                    </form>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>