<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="static/stylesheets/contact.css">
        <title>Bungalowpark zee en duin</title>
    </head>

    <body>
        {% set renderRight = not(loggedIn) %}
        {% block navigation %}
            {% include 'navigation.html' %}
        {% endblock %}
        
        <div class="container">
            
            <form class="contact-form" action="mailto:your-email@example.com" method="post" enctype="text/plain">
                <h1>Contact formulier</h1>
                <input type="text" name="name" placeholder="Naam" required>
                <input type="text" name="email" placeholder="E-mail" required>
                <textarea name="message" placeholder="Uw bericht." required></textarea>
                <input type="submit" value="Versturen">
            </form>
        </div>
    </body>
</html>