<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="static/stylesheets/huisjes.css">
        <title>Bungalowpark zee en duin</title>
    </head>

<body>
    {% set renderRight = not(loggedIn) %}
    {% block navigation %}
        {% include 'navigation.html' %}
    {% endblock %}
   
        <div class="container">
            {% for house in houses %}
            <div class="house-card">
                <img class="house-image" src="../static/images/houses/{{house[0]}}.jpg" alt="Vakantiehuisje 1">
                <div class="house-details">
                    <h2 class="house-title">{{house[1]}}</h2>
                    <p class="house-price">€{{house[4]}},- per week</p>
                    <p class="house-description">{{house[2]}} Geschikt voor {{house[3]}} personen.</p>
                    <button class="book-now-button" onclick="window.location.href = '/boeking?id={{house[5]}}'">Boek nu</button>
                </div>
            </div>
            {% endfor %}
    </body>
</html>