<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/stylesheets/style.css">
        <title>Bungalowpark zee en duin</title>
    </head>

    <body>
        <div class="navigationBar">
            <p>Inloggen</p>
            <p>Mijn boekingen</p>
        </div>
        <div class="heroImage">
            <div class="heroImageContent">
                <h1>Bungalowpark zee en duin</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                <button id="bookingButton">Bungalow boeken</button>
            </div>
        </div>
    </body>
</html>