<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="static/stylesheets/login.css">
        <title>Bungalowpark Zee en Duin|Inloggen</title>
    </head>
    
    <body>
        <div class="navigationBar">
            <div class="navigationLeft">
                <a href="/">
                    <h2>Park zee en duin</h2>
                </a>
                <img src="../static/images/logo.png" width="12.5%" height="12.5%">
            </div>
            <div class="navigationMiddle">
                <a href="/huisjes" class="navigationElement">
                    <p>Huisjes</p>
                </a>
                <a href="/contact" class="navigationElement">
                    <p>Contact</p>
                </a>
                <a href="mijnboekingen" class="navigationElement">
                    <p>Mijn boekingen</p>
                </a>
            </div>
            <div class="navigationRight">
                <a href="/inloggen" class="navigationElement">
                    <p>Inloggen</p>
                </a>
            </div>
        </div>
        <div class="loginFormCenter">
            <div class="loginFormContainer">
                <form>
                    <h2>Inloggen</h2>
                    <input type="text" placeholder="Gebruikersnaam">
                    <input type="password" placeholder="Wachtwoord">
                    <input type="submit" value="Inloggen">
                </form>
                <div class="noAccount">
                    <h2>Geen account?</h2>
                    <p>Een maken is eenvoudig</p>
                    <button id="createAccount">Account maken</button>
                </div>
            </div>
        </div>
    </body>
</html>