<head>
    <link rel="stylesheet" href="static/stylesheets/navigation.css">
</head>

<body>
    <div class="navigationBar">
        <div class="navigationLeft">
            <a href="/">
                <h2>Park zee en duin</h2>
            </a>
            <img src="../static/images/logo.png" width="12.5%" height="12.5%">
        </div>
        <div class="navigationMiddle">
            <a href="/huisjes" class="navigationElement">
                <p>Huisjes</p>
            </a>
            <a href="/contact" class="navigationElement">
                <p>Contact</p>
            </a>
            <a href="mijnboekingen" class="navigationElement">
                <p>Mijn boekingen</p>
            </a>
        </div>
        <div class="navigationRight">
            {% if renderRight == True %}
            <a href="/registreren" class="navigationElement">
                <p>Registreren</p>
            </a>
            <a href="/inloggen" class="navigationElement">
                <p>Inloggen</p>
            </a>
            {% else %}
            <a href="/uitloggen" class="navigationElement">
                <p>Uitloggen</p>
            </a>
            {% endif %}
        </div>
    </div>
</body>
