<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="static/stylesheets/registreren.css">
        <title>Bungalowpark Zee en Duin|Inloggen</title>
    </head>
    
    <body>
        {% set renderRight = not(loggedIn) %}
        {% block navigation %}
            {% include 'navigation.html' %}
        {% endblock %}
        
        <div class="loginFormContainer">
            <form action="/registreren" method="POST">
                <h2>Registreren</h2>
                <input type="e-mail" name="email" placeholder="E-mail">
                <input type="text" name="name" placeholder="Gebruikersnaam">
                <input type="password" name="password" placeholder="Wachtwoord">
                <input type="password" name="passwordConfirm" placeholder="Bevestig Wachtwoord">
                <input type="submit" value="Account aanmaken">
                <p>{{ errorCode }}</p>
            </form>
        </div>
    </body>
</html>